# Virtual environment
Lib/
Scripts/
Include/
pyvenv.cfg

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Local/dev files
compiled_files.txt
settings.yaml
splash.png

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
