# Virtual environment
Lib/
Scripts/
Include/
share/
pyvenv.cfg
.venv/

# Benchmark audio
benchmarks/*.flac

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Local/dev files
compiled_files.txt
settings.yaml
splash.png
local_tests/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
